.account_login {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto 0;
  min-height: calc(100vh - 167px - 400px);
  margin-top: calc(var(--headerHeight) + 6vh);
  margin-bottom: 20px;

  .cols {
    margin-left: 4.1666666667%;
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .log_head {
    font-family: "adineuePRO-Bold";
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .left_col {
    form {
      .login-form-forgot-password {
        font-family: "AdihausDIN-Regular";
        font-size: 16px;
        cursor: pointer;
        display: inline;
        padding-left: 1px;
        padding-right: 1px;
        letter-spacing: 0px;
        line-height: 22px;
        text-decoration: underline;
        transition: 0.2s;

        &:hover {
          color: #fff;
          background-color: #000;
        }
      }

      .log-contain {
        margin-top: var(--spacing-15);
        .log-content {
          .log-field {
            border: 1px solid #000;
            .log-legend {
              font-size: 12px;
              padding: 0 5px;
              font-family: "AdihausDIN-Regular";
            }
            .log-input {
              padding: 15px;
              padding-top: 10px;
            }
          }
          .log-warn {
          }
        }
      }
    }

    .log_but {
      margin-top: var(--spacing-15);
      .login_but {
        border: none;
        width: auto;
        height: 50px;
        padding: 0 15px;
        background-color: #000;
        position: relative;
        font-family: "AdihausDIN-Regular";
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 20px;

        &::before {
          content: "";
          position: absolute;
          border-bottom: 1px solid #000;
          border-left: 1px solid #000;
          bottom: -3px;
          height: 3px;
          left: 3px;
          width: 100%;
          display: block;
        }

        &::after {
          content: "";
          position: absolute;
          border-right: 1px solid #000;
          border-top: 1px solid #000;
          height: 100%;
          right: -3px;
          top: 3px;
          width: 3px;
          display: block;
        }

        a {
          color: #fff;
          display: flex;
          align-items: center;
        }
      }
    }

    .implicit-consent-terms {
      margin-top: var(--spacing-15);
      p {
        font-size: 16px;
        font-family: "AdihausDIN-Regular";
        line-height: 22px;

        span {
          text-decoration: underline;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }

  .right_col {
    form {
      .login-form-forgot-password {
        font-family: "AdihausDIN-Regular";
        font-size: 16px;
        cursor: pointer;
        display: inline;
        padding-left: 1px;
        padding-right: 1px;
        letter-spacing: 0px;
        line-height: 22px;
        text-decoration: underline;
        transition: 0.2s;

        &:hover {
          color: #fff;
          background-color: #000;
        }
      }

      .log-contain {
        margin-top: var(--spacing-15);
        .log-content {
          .log-field {
            border: 1px solid #000;
            .log-legend {
              font-size: 12px;
              padding: 0 5px;
              font-family: "AdihausDIN-Regular";
            }
            .log-input {
              padding: 15px;
              padding-top: 10px;
            }
          }
          .log-warn {
          }
        }
      }
    }

    .log_but {
      margin-top: var(--spacing-15);
      cursor: pointer;
      .login_but {
        border: none;
        width: auto;
        height: 50px;
        padding: 0 15px;
        background-color: #000;
        position: relative;
        font-family: "AdihausDIN-Regular";
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 20px;

        &::before {
          content: "";
          position: absolute;
          border-bottom: 1px solid #000;
          border-left: 1px solid #000;
          bottom: -3px;
          height: 3px;
          left: 3px;
          width: 100%;
          display: block;
        }

        &::after {
          content: "";
          position: absolute;
          border-right: 1px solid #000;
          border-top: 1px solid #000;
          height: 100%;
          right: -3px;
          top: 3px;
          width: 3px;
          display: block;
        }

        a {
          color: #fff;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
